Repository GreyNoise-Intelligence/greynoiselabs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort, ruff

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Style check (yamllint)
        entry: yamllint
        language: system
        types:
          - yaml
      - id: black
        name: Style check (black)
        entry: black
        language: system
        types:
          - python
      - id: isort
        name: Style check (isort)
        entry: isort
        language: system
        types:
          - python
      - id: ruff
        name: Static analysis (ruff)
        entry: ruff
        language: system
        types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

twine ENV issue
  Makefile
Due: none

Add build and bump changes {Github Actions}
  .bumpversion.cfg
  setup.py
  src/greynoiselabs/__version__.py
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/api/scalars.py
Due: black, isort, ruff

Remove checkout from release workflow
  .github/workflows/release.yaml
Due: yamllint

Switch from setuptools to Poetry and move to 3.8
  .bumpversion.cfg
  .github/workflows/main.yaml
  .gitignore
  Dockerfile
  Makefile
  poetry.lock
  pyproject.toml
  requirements/common.txt
  requirements/dev.txt
  requirements/test.txt
  setup.py
  src/greynoiselabs/__version__.py
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/api/scalars.py
  src/greynoiselabs/cli/main.py
Due: yamllint, black, isort, ruff

Add install poetry action
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: yamllint

Add install poetry action
  .github/workflows/main.yaml
Due: yamllint

Add poetry dev dependency install line
  Makefile
Due: none

Add poetry precommit changes
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
Due: yamllint

Add poetry precommit changes
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: yamllint

Add poetry precommit changes
  src/greynoiselabs/cli/auth.py
Due: black, isort, ruff

Add build and bump changes {Github Actions}
  pyproject.toml
Due: none

Fix version
  .github/workflows/main.yaml
Due: yamllint

Fix tag trigger
  .github/workflows/release.yaml
Due: yamllint

Fix tag trigger
  .github/workflows/main.yaml
Due: yamllint

Switch to workflow dispatch
  .github/workflows/release.yaml
Due: yamllint

add latest updates
  poetry.lock
  pyproject.toml
Due: none

add latest updates
  .github/workflows/release.yaml
  Makefile
Due: yamllint

Fix release
  .github/workflows/release.yaml
  Makefile
  README.rst
  poetry.lock
  pyproject.toml
Due: yamllint

Add README updates
  README.rst
  pyproject.toml
Due: none

Add README.rst fixes
  README.rst
Due: none

fix images
  README.rst
Due: none

fix links
  README.rst
Due: none

Update GraphQL Schemas from Labs repo
  schemas/schema.graphql
Due: none

Add payloads and http_requests to CLI
  .github/workflows/release.yaml
  ariadne.toml
  poetry.lock
  queries/payloads.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/api/noise_rank.py
  src/greynoiselabs/api/scalars.py
  src/greynoiselabs/api/top_h_t_t_p_requests.py
  src/greynoiselabs/api/top_knocks.py
  src/greynoiselabs/api/top_popular_i_ps.py
  src/greynoiselabs/cli/main.py
Due: yamllint, black, isort, ruff

Fix minumum Python version
  poetry.lock
  pyproject.toml
Due: none

Add try/except wrappers and better error handling and return messages around all CLI commands with an API call. Fix Python >= 3.9 version dependency issue.
  Dockerfile
  poetry.lock
  pyproject.toml
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/api/scalars.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Pivot baseline
  poetry.lock
  queries/pivot.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/api/scalars.py
Due: black, isort, ruff

Add importable app
  Makefile
  poetry.lock
  pyproject.toml
  queries/pivot.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/api/scalars.py
  src/greynoiselabs/cli/__init__.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Remove pivot commit
  src/greynoiselabs/api/get_pivot.py
Due: black, isort, ruff

Remove pivot
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
Due: black, isort, ruff
