Repository GreyNoise-Intelligence/greynoiselabs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort, ruff

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Style check (yamllint)
        entry: yamllint
        language: system
        types:
          - yaml
      - id: black
        name: Style check (black)
        entry: black
        language: system
        types:
          - python
      - id: isort
        name: Style check (isort)
        entry: isort
        language: system
        types:
          - python
      - id: ruff
        name: Static analysis (ruff)
        entry: ruff
        language: system
        types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

Put main.py back
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Add build and bump changes {Github Actions}
  pyproject.toml
Due: none

Add support for 3.7+
  Dockerfile
  Makefile
  ariadne.toml
  poetry.lock
  pyproject.toml
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
Due: black, isort, ruff

Add version pin for 3.8 with greynoiselabs
  Dockerfile
  poetry.lock
  pyproject.toml
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
Due: black, isort, ruff

Working with 3.9 or newer
  .dockerignore
  Dockerfile
  Makefile
  example.py
  poetry.lock
  pyproject.toml
  pytest.ini
  requirements.txt
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/__init__.py
  src/greynoiselabs/cli/main.py
  tests/test_cli.py
  tox.ini
Due: black, isort, ruff

Fix workflows for fakepublish
  .github/workflows/main.yaml
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  tox.ini
Due: yamllint, black, isort, ruff

Fix workflows for fakepublish
  .github/workflows/main.yaml
Due: yamllint

Fix workflows for fakepublish
  Makefile
Due: none

Fix workflows for fakepublish
  tox.ini
Due: none

Added support for --ips flag with payloads http-requests
  queries/httprequests.graphql
  queries/payloads.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Add release notes trigger
  .github/workflows/release.yaml
Due: yamllint

Fix bad version
  .github/workflows/release.yaml
Due: yamllint

Update help for pcap commands
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Documentation updates for PCAP
  .gitignore
  README.rst
  poetry.lock
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
Due: black, isort, ruff

Documentation updates for PCAP
  .gitignore
Due: none

Add versioned user-agent from the CLI
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Test changelog
  .github/workflows/main.yaml
Due: yamllint

Adds support for automatic updates and futher PCAP extraction
  Makefile
  README.rst
  poetry.lock
  pyproject.toml
  queries/pivot.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Added --user-agent filter for http-requests Added --protocol filter for payloads
  poetry.lock
  queries/httprequests.graphql
  queries/payloads.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/auth.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Fix documentation
  README.rst
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
Due: black, isort, ruff

Fix RST syntax error
  README.rst
Due: none

Update precommit
  .pre-commit-config.yaml
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/main.py
Due: yamllint, black, isort, ruff

Adds --countries flag to specify the destination countries that observed a payload via a GreyNoise sensor
  poetry.lock
  queries/payloads.graphql
  schemas/schema.graphql
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
  src/greynoiselabs/cli/main.py
Due: black, isort, ruff

Add example
  README.rst
  src/greynoiselabs/api/__init__.py
  src/greynoiselabs/api/async_base_client.py
  src/greynoiselabs/api/base_model.py
  src/greynoiselabs/api/client.py
  src/greynoiselabs/api/enums.py
  src/greynoiselabs/api/exceptions.py
  src/greynoiselabs/api/generate_g_n_q_l.py
  src/greynoiselabs/api/get_c2s.py
  src/greynoiselabs/api/get_i_ps.py
  src/greynoiselabs/api/get_knocks.py
  src/greynoiselabs/api/get_noise_ranks.py
  src/greynoiselabs/api/get_payloads.py
  src/greynoiselabs/api/get_pivot.py
  src/greynoiselabs/api/get_requests.py
  src/greynoiselabs/api/input_types.py
Due: black, isort, ruff
